<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Azure.Core" version="1.5.1" targetFramework="net472" />
  <package id="EASendMail" version="7.7.0.3" targetFramework="net472" />
  <package id="FireSharp" version="2.0.4" targetFramework="net472" />
  <package id="FireSharp.Serialization.JsonNet" version="1.1.0" targetFramework="net472" />
  <package id="Google.Apis" version="1.49.0" targetFramework="net472" />
  <package id="Google.Apis.Auth" version="1.49.0" targetFramework="net472" />
  <package id="Google.Apis.Core" version="1.49.0" targetFramework="net472" />
  <package id="Google.Apis.Gmail.v1" version="1.49.0.2088" targetFramework="net472" />
  <package id="LiveCharts" version="0.9.7" targetFramework="net472" />
  <package id="LiveCharts.WinForms" version="0.9.7.1" targetFramework="net472" />
  <package id="LiveCharts.Wpf" version="0.9.7" targetFramework="net472" />
  <package id="MaterialDesignColors" version="2.0.0-ci2120" targetFramework="net472" />
  <package id="MaterialDesignThemes" version="4.0.0-ci2120" targetFramework="net472" />
  <package id="MaterialSkin" version="0.2.1" targetFramework="net472" />
  <package id="Microsoft.Bcl" version="1.1.10" targetFramework="net472" />
  <package id="Microsoft.Bcl.Async" version="1.0.168" targetFramework="net472" />
  <package id="Microsoft.Bcl.AsyncInterfaces" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="Microsoft.Bcl.Build" version="1.0.21" targetFramework="net472" />
  <package id="Microsoft.Graph" version="3.17.0" targetFramework="net472" />
  <package id="Microsoft.Graph.Core" version="2.0.0-preview.3" targetFramework="net472" />
  <package id="Microsoft.Identity.Client" version="4.20.0-wampreview1" targetFramework="net472" />
  <package id="Microsoft.IdentityModel.Clients.ActiveDirectory" version="5.2.8" targetFramework="net472" />
  <package id="Microsoft.Net.Http" version="2.2.29" targetFramework="net472" />
  <package id="Microsoft.OData.Client" version="7.7.2" targetFramework="net472" />
  <package id="Microsoft.OData.Core" version="7.7.2" targetFramework="net472" />
  <package id="Microsoft.OData.Edm" version="7.7.2" targetFramework="net472" />
  <package id="Microsoft.OData.ProxyExtensions" version="1.0.35" targetFramework="net472" />
  <package id="Microsoft.Office365.OutlookServices" version="1.0.41.0" targetFramework="net472" />
  <package id="Microsoft.Spatial" version="7.7.2" targetFramework="net472" />
  <package id="Microsoft.Windows.SDK.Contracts" version="10.0.19041.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="12.0.3" targetFramework="net472" />
  <package id="RestSharp" version="106.11.7" targetFramework="net472" />
  <package id="SendGrid" version="9.21.0" targetFramework="net472" />
  <package id="starkbank-ecdsa" version="1.2.1" targetFramework="net472" />
  <package id="System.Buffers" version="4.5.1" targetFramework="net472" />
  <package id="System.Diagnostics.DiagnosticSource" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="System.IO" version="4.3.0" targetFramework="net472" />
  <package id="System.Memory" version="4.5.4" targetFramework="net472" />
  <package id="System.Net.Http" version="4.3.4" targetFramework="net472" />
  <package id="System.Numerics.Vectors" version="4.5.0" targetFramework="net472" />
  <package id="System.Runtime" version="4.3.1" targetFramework="net472" />
  <package id="System.Runtime.CompilerServices.Unsafe" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime" version="4.6.0" targetFramework="net472" />
  <package id="System.Runtime.WindowsRuntime.UI.Xaml" version="4.6.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Algorithms" version="4.3.1" targetFramework="net472" />
  <package id="System.Security.Cryptography.Encoding" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.Primitives" version="4.3.0" targetFramework="net472" />
  <package id="System.Security.Cryptography.X509Certificates" version="4.3.2" targetFramework="net472" />
  <package id="System.Text.Encodings.Web" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="System.Text.Json" version="5.0.0-rc.1.20451.14" targetFramework="net472" />
  <package id="System.Threading.Tasks.Extensions" version="4.5.4" targetFramework="net472" />
  <package id="System.ValueTuple" version="4.5.0" targetFramework="net472" />
  <package id="Tulpep.NotificationWindow" version="1.1.37" targetFramework="net472" />
</packages>